[Unit]
Description=Run Vidak authorised channel import synchronisation

[Timer]
OnBootSec=2m
OnUnitActiveSec=1m
Persistent=true

[Install]
WantedBy=timers.target
